<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item *ngFor="let usuario of usuarios">
        <ion-avatar>
          <img [src]="usuario.avatar" />
        </ion-avatar>

        <span> {{usuario.first_name}} </span>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
